{% extends 'generic/object_detail.html' %}
{% load buttons %}
{% load static %}
{% load custom_links %}
{% load helpers %}
{% load plugins %}

{% block title %}{{ object }}{% endblock %}

{% block header %}
<div class="row noprint">
	<div class="col-sm-8 col-md-9">
		<ol class="breadcrumb">
			<li><a href="{% url 'plugins:lb_models:certificate_list' %}">Certificate</a></li>
			<li>{{ object }}</li>
		</ol>
	</div>
	<div class="col-sm-4 col-md-3">
		<form action="{% url 'plugins:lb_models:certificate_list' %}"
			method="get">
			<div class="input-group">
				<input type="text" name="q" class="form-control" />
				<span class="input-group-btn">
					<button type="submit" class="btn btn-primary">
						<span class="mdi mdi-magnify" aria-hidden="true"></span>
					</button>
				</span>
			</div>
		</form>
	</div>
</div>
<div class="pull-right noprint">
	{% if perms.lb_models.change_dispatching %}
		{% clone_button object %}
	{% endif %}
	{% if perms.lb_models.change_dispatching %}
		{% edit_button object use_pk=1 %}
	{% endif %}
	{% if perms.lb_models.delete_dispatching %}
		{% delete_button object use_pk=1 %}
	{% endif %}
</div>
<h1>{{ object }}</h1>
{% include 'inc/created_updated.html' with obj=object %}
<div class="pull-right noprint">
	{% custom_links object %}
</div>
<ul class="nav nav-tabs">
	<li role="presentation" {% if not active_tab %} class="active" {% endif %}>
		<a href="{{ object.get_absolute_url }}">Certificate</a>
	</li>
	{% if perms.extras.view_objectchange %}
	<li role="presentation" {% if active_tab == 'changelog' %} class="active" {% endif %}>
		<a href="{% url 'plugins:lb_models:certificate_changelog' slug=object.slug %}">Change Log</a>
	</li>
	{% endif %}
</ul>
{% endblock %}

{% block content_left_page %}
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Certificate</strong>
			</div>
			<table class="table table-hover panel-body attr-table">
				<tr>
					<td>Slug</td>
					<td>
						{{ object.slug }}
					</td>
				</tr>
				<tr>
					<td>Issuer</td>
					<td>
						{{ object.issuer }}
					</td>
				</tr>
				<tr>
					<td>Version Number</td>
					<td>
						{{ object.version_nummber }}
					</td>
				</tr>
				<tr>
					<td>Serial Number</td>
					<td>
						{{ object.serial_number }}
					</td>
				</tr>
				<tr>
					<td>Signature</td>
					<td>
						{{ object.signature }}
					</td>
				</tr>
				<tr>
					<td>Signature Algorithm</td>
					<td>
						{{ object.signature_algorithm }}
					</td>
				</tr>
				<tr>
					<td>Signature Algorithm ID</td>
					<td>
						{{ object.signature_algorithm_id }}
					</td>
				</tr>
				<tr>
					<tr>
						<td>Certificate</td>
						<td>
							{{ object.certificate }}
						</td>
					</tr>
				</tr>
				<tr>
					<tr>
						<td>Certificate Key</td>
						<td>
							{{ object.certificate_key }}
						</td>
					</tr>
				</tr>
				<tr>
					<tr>
						<td>Certificate Password</td>
						<td>
							{{ object.certificate_password }}
						</td>
					</tr>
				</tr>
					<tr>
					<td>Start Date</td>
					<td>
						{{ object.start_date }}
					</td>
				</tr>
				<tr>
					<td>End Date</td>
					<td>
						{{ object.end_date }}
					</td>
				</tr>
				<tr>
					<td>Subject Name</td>
					<td>
						{{ object.subject_name }}
					</td>
				</tr>
				<tr>
					<td>Subject Public Key</td>
					<td>
						{{ object.subject_pub_key }}
					</td>
				</tr>
				<tr>
					<td>Subject Public Key Algorithm</td>
					<td>
						{{ object.subject_pub_key_algorithm }}
					</td>
				</tr>      
			</table>
		</div>
		{% include 'inc/custom_fields_panel.html' %}
		{% include 'inc/relationships_panel.html' %}
		{% plugin_left_page object %}
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		{% plugin_full_width_page object %}
	</div>
</div>
{% endblock content_left_page %}
