{% extends 'generic/object_detail.html' %}
{% load buttons %}
{% load static %}
{% load custom_links %}
{% load helpers %}
{% load plugins %}

{% block title %}{{ object }}{% endblock %}

{% block header %}
<div class="row noprint">
	<div class="col-sm-8 col-md-9">
		<ol class="breadcrumb">
			<li><a href="{% url 'plugins:lb_models:healthmonitor_list' %}">Health Monitor</a></li>
			<li>{{ object }}</li>
		</ol>
	</div>
	<div class="col-sm-4 col-md-3">
		<form action="{% url 'plugins:lb_models:healthmonitor_list' %}"
			method="get">
			<div class="input-group">
				<input type="text" name="q" class="form-control" />
				<span class="input-group-btn">
					<button type="submit" class="btn btn-primary">
						<span class="mdi mdi-magnify" aria-hidden="true"></span>
					</button>
				</span>
			</div>
		</form>
	</div>
</div>
<div class="pull-right noprint">
	{% if perms.lb_models.change_lb_models %}
		{% clone_button object %}
	{% endif %}
	{% if perms.lb_models.change_lb_models %}
		{% edit_button object use_pk=1 %}
	{% endif %}
	{% if perms.lb_models.delete_lb_models %}
		{% delete_button object use_pk=1 %}
	{% endif %}
</div>
<h1>{{ object }}</h1>
{% include 'inc/created_updated.html' with obj=object %}
<div class="pull-right noprint">
	{% custom_links object %}
</div>
<ul class="nav nav-tabs">
	<li role="presentation" {% if not active_tab %} class="active" {% endif %}>
		<a href="{{ object.get_absolute_url }}">Health Monitor</a>
	</li>
	{% if perms.extras.view_objectchange %}
	<li role="presentation" {% if active_tab == 'changelog' %} class="active" {% endif %}>
		<a href="{% url 'plugins:lb_models:healthmonitor_changelog' slug=object.slug %}">Change Log</a>
	</li>
	{% endif %}
</ul>
{% endblock %}

{% block content_left_page %}
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Health Monitor</strong>
			</div>
			<table class="table table-hover panel-body attr-table">
				<tr>
					<td>Slug</td>
					<td>
						{{ object.slug }}
					</td>
				</tr>
				<tr>
					<td>Name</td>
					<td>
						{{ object.name }}
					</td>
				</tr>
				<tr>
					<td>Description</td>
					<td>
						{{ object.description }}
					</td>
				</tr>
				<tr>
					<td>Type</td>
					<td>
						{{ object.type }}
					</td>
				</tr>
				<tr>
					<td>LRTM</td>
					<td>
						{{ object.lrtm }}
					</td>
				</tr>
				<tr>
					<td>Secure</td>
					<td>
						{{ object.secure }}
					</td>
				</tr>
				<tr>
					<td>URL</td>
					<td>
						{{ object.url }}
					</td>
				</tr>
				<tr>
					<td>Send</td>
					<td>
						{{ object.send }}
					</td>
				</tr>
				<tr>
					<td>Code</td>
					<td>
						{{ object.code }}
					</td>
				</tr>
				<tr>
					<td>Receive</td>
					<td>
						{{ object.receive }}
					</td>
				</tr>
				<tr>
					<td>HTTP Request</td>
					<td>
						{{ object.httprequest }}
					</td>
				</tr>
			</table>
		</div>
		{% include 'inc/custom_fields_panel.html' %}
		{% include 'inc/relationships_panel.html' %}
		{% plugin_left_page object %}
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		{% plugin_full_width_page object %}
	</div>
</div>
{% endblock content_left_page %}
